/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 28, 2022, 12:53:12 AM
    Author     : Admin
*/
/*.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    display: none;
}*/

/*.modal-content {
    width: 500px;
    height: 400px;
    background-color: white;
    opacity: 1;
    border-radius: 4px;
    padding: 20px;
    position: relative;
}*/

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
/*    transform: rotate(45deg);*/
    cursor: pointer;
}

#sign {
    padding-left: 170px;
}

.link-box {
    
    display: flex;
    
}

.link-box .a{
    
    margin-right: 50px;
    
}

#myModal { overflow-y:scroll }

