<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>NameOfBank</param-name>
        <param-value>MbBank</param-value>
    </context-param>
    <context-param>
        <param-name>OwnerAccount</param-name>
        <param-value>PHI MINH TIEN</param-value>
    </context-param>
    <context-param>
        <param-name>AccountNumber</param-name>
        <param-value>688811112001</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.common.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.admin.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.admin.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>controller.home.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>controller.home.ShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.home.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.common.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>controller.home.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestLoginController</servlet-name>
        <servlet-class>controller.test.TestLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailController</servlet-name>
        <servlet-class>controller.common.SendMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.common.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VeryfiController</servlet-name>
        <servlet-class>controller.common.VeryfiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileControler</servlet-name>
        <servlet-class>controller.user.UserProfileControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerControler</servlet-name>
        <servlet-class>controller.marketing.AddCustomerControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerControler</servlet-name>
        <servlet-class>controller.marketing.EditCustomerControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListControler</servlet-name>
        <servlet-class>controller.marketing.CustomerListControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailsControler</servlet-name>
        <servlet-class>controller.marketing.CustomerDetailsControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoleController</servlet-name>
        <servlet-class>controller.admin.AddRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoleController</servlet-name>
        <servlet-class>controller.admin.EditRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderListController</servlet-name>
        <servlet-class>controller.marketing.SliderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderDetailController</servlet-name>
        <servlet-class>controller.marketing.SliderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSliderController</servlet-name>
        <servlet-class>controller.marketing.AddSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingDashboardController</servlet-name>
        <servlet-class>controller.marketing.MarketingDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListPublicController</servlet-name>
        <servlet-class>controller.home.ProductListPublicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserPassword</servlet-name>
        <servlet-class>controller.common.ChangeUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrdersController</servlet-name>
        <servlet-class>controller.user.UserOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BacklinkControlller</servlet-name>
        <servlet-class>controller.common.BacklinkControlller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetailsController</servlet-name>
        <servlet-class>controller.common.CartDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/admin/userList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/bloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestLoginController</servlet-name>
        <url-pattern>/test/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailController</servlet-name>
        <url-pattern>/send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VeryfiController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileControler</servlet-name>
        <url-pattern>/user/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerControler</servlet-name>
        <url-pattern>/customer/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerControler</servlet-name>
        <url-pattern>/customer/editStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListControler</servlet-name>
        <url-pattern>/customer/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailsControler</servlet-name>
        <url-pattern>/customer/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoleController</servlet-name>
        <url-pattern>/admin/addRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoleController</servlet-name>
        <url-pattern>/admin/editRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderListController</servlet-name>
        <url-pattern>/marketing/sliderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderDetailController</servlet-name>
        <url-pattern>/marketing/sliderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSliderController</servlet-name>
        <url-pattern>/marketing/sliderAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingDashboardController</servlet-name>
        <url-pattern>/marketing/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListPublicController</servlet-name>
        <url-pattern>/productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserPassword</servlet-name>
        <url-pattern>/user/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrdersController</servlet-name>
        <url-pattern>/myorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BacklinkControlller</servlet-name>
        <url-pattern>/backlink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetailsController</servlet-name>
        <url-pattern>/cartDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
